style= require('./quick-log.styl')
.total
  .counter
    .heading Today's count
    h2(
      class=this.status(totalCalories)
    )=totalCalories
    .description kcal
each item, index in list
  .item(
    (click)=quickLog(item),
    style=`${gradient[index % gradient.length]}`
  )
    .icon
      if item.icon
        img(src=`/images/icons/${item.icon}`)
    .heading=item.name
    .kcal=`${item.kcal}kcal`
      span=` (${+item.kcal+totalCalories}kcal)`