style= require('./quick-log.styl')
.total
  kcal-progress-ring(
    [success]=1000,
    [warning]=1500,
    [danger]=2000,
    [value]=this._totalCalories
  )
    .heading Today's count
    h2(
      class=this.status(totalCalories)
    )=totalCalories
    .description kcal
  kcal-xp-meter(
    [xp]=user?.xp
  )
  .stats
    .level
      .value=user?.level || 0
      .label Current level
    if user?.streakLength
      .bonus(
        class={medium: user?.streakLength > 2, high: user?.streakLength >= 5}
      )
        .value='x' + (user?.streakLength || 0)
        .label Streak bonus
    .yesterday
      .value=yesterdayCalories || 0
      .label Yesterday kcal

.quick-add
  each item, index in list
    .item(
      (click)=quickLog(item),
      style=`${gradient[index % gradient.length]}`
    )
      .icon
        if item.icon
          img(src=`/images/icons/${item.icon}`)
      .heading=item.name
      .kcal=`${item.kcal}kcal`
        span=` (${+item.kcal+totalCalories}kcal)`